<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SplitWith.me</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body> 
                <div align="center" style="margin-bottom: -100px">
                    <h1>Expenses</h1>
                </div>


<div class="form-group-sm" ng-controller="ExpenseController">
  <table class="table" border="100px" bordercolor="FFFFFF">
  <br>
  
    <thead>
      <tr class="success">
      <th>Expenses</th>
      <th>Payer</th>
      <th>Amount</th>
      <th></th> 
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expense in expenses">
      <span class="done-{{todo.done}}">
        <td>{{expense.expense}}</td>
        <td>{{expense.payer}}</td>
        <td>${{expense.cost}}</td>
        <td><form submit="deleteExpense()"><button class="btn btn-error" type="submit"><span class="glyphicon glyphicon-remove"></span></button></form></td>
      </span>
    </tr>
    <form class="form-inline" ng-submit="addExpense()">
    <tr>
    <td><input class="form-control" type="text" ng-model="expenseText"  size="55"
           placeholder="Add expense"></td>
    <td><input class="form-control" type="text" ng-model="payerText"  size="40"
           placeholder="Add payer"></td>
    <td><input class="form-control" type="number" ng-model="costText"  size="20"
           placeholder="$"></td>
    <td><input class="btn btn-primary" type="submit" value="Add"></td>
  </tr>
  </form>
    </tbody>
</table>
</div>
</div>

<div align="center">
<table class="table" border="500px" bordercolor="FFFFFF">
  <thead>
    <tr class="success">
      <td>Names of Sharers</td>
      <tr>
      </thead>
  <tbody>
    <tr>
    <td ng-repeat="user in getKeys()">
      {{user}} ${{getTotal(user)}}
    </td>
  </tr>
  <tr>
  <form ng-submit="addSharer()">
    <td><input type="text" ng-model="nameText"  size="30"
         placeholder="Name"><input class="btn btn-primary" type="submit" value="Add"></td>
  </form>
</tr>
  </tbody>
  </table>
</div>

<div align="center">
  <br />
  ${{total}}
  <br />



  <button class="btn btn-danger btn-lg" ng-click="postSplit()">Split!</button>
</div>
    <!-- jQuery -->
    <script type="text/javscript" src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javscript" src="js/bootstrap.min.js"></script>

</body>

</html>
